
<form id="searchForm" (keyup.enter)="setSearchTerm(searchTerm)"  class="form-inline"  >
    <div class="form-group">
      <input [(ngModel)]="searchTerm" (ngModelChange)="onWhiteSpaceEmit($event)" name="searchTerm" type="text" class="form-control" placeholder="Search usernames" >
    </div>
</form>

<button class="sortingBtn" [class.active]="sortBy==='firstName'" (click)="sortBy='firstName'; sort()">By First Name</button>
<button class="sortingBtn"  [class.active]="sortBy==='lastName'" (click)="sortBy='lastName'; sort()">By Last Name</button>

<table id="users">
  <tr>
    <th *ngFor="let header of headers">
      {{header}}
    </th>
  </tr>

    <tr *ngFor="let user of displayedUsers | paginate: { itemsPerPage: 5, currentPage: p }">
      <td *ngFor="let col of columns">
        {{user[col]}}
        <span *ngIf="col === 'Actions'">
        <button class="button button2" (click)="toView(user.id)">View User</button> </span>
      </td>
    </tr>

    <button class="button button1" (click)="toUser()">Add User</button>

    <pagination-controls (pageChange)="p = $event"></pagination-controls>


</table>


