
<ul>
  <li><a [routerLink]="['']"
    routerLinkActive="active">Home</a></li>
  <li><a [routerLink]="['/users']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">All Users</a></li>
  <li><a [routerLink]="['/users/new']"
    routerLinkActive="active">New User</a></li>
  <li><a [routerLink]="['/invoice']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">All Invoices</a></li>
  <li><a [routerLink] = "['/invoice/new']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">New Invoice</a></li>
</ul>

