
<ul>
  <li><a [routerLink]="['']"
    routerLinkActive="active">Home</a></li>
  <li><a [routerLink]="['/users']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">All Users</a></li>
  <li><a [routerLink]="['/users/new']"
    routerLinkActive="active">New User</a></li>
  <li><a [routerLink]="['/invoice']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">All Invoices</a></li>

    <!-- <li class="dropdown" id="theme-dropdown">
      <label>Theme</label>
        <select (change)="onStyleChange($event)">
          <option value="default">Default</option>
          <option value="amelia">Amelia</option>
        </select>
    </li> -->
    <!-- <link rel="stylesheet" type="text/css" href="./node_modules/bootstrap/dist/css/amelia.min.css"/> -->
</ul>

